In [1]:
import pandas as pd

In [2]:
df_movie_rating = pd.DataFrame(
    {'movie1':[5,4,3,3,2,1],
    'movie2':[4,5,2,3,4,2],
     'index':['Tom','JEff','Peter','Ram','Atul','Sachin']
    }
)

In [3]:
df_movie_rating

   movie1  movie2   index
0       5       4     Tom
1       4       5    JEff
2       3       2   Peter
3       3       3     Ram
4       2       4    Atul
5       1       2  Sachin

In [5]:
df_movie_rating = pd.DataFrame(
    {'movie1':[5,4,3,3,2,1],
    'movie2':[4,5,2,3,4,2]},
     index=['Tom','JEff','Peter','Ram','Atul','Sachin']
)

In [6]:
df_movie_rating

        movie1  movie2
Tom          5       4
JEff         4       5
Peter        3       2
Ram          3       3
Atul         2       4
Sachin       1       2

In [7]:
def movie_grade(rating):
    if rating == 5:
        return 'A'
    if rating == 4:
        return 'B'
    if rating == 3:
        return 'C'
    else:
        return 'F'

In [8]:
def movie_grade(5)

SyntaxError: invalid syntax (<ipython-input-8-dbe0f39f50c9>, line 1)

In [9]:
def (movie_grade(rating))

SyntaxError: invalid syntax (<ipython-input-9-e487c374a2e6>, line 1)

In [10]:
print(movie_grade(4))

B

In [11]:
print(movie_grade(1))

F

In [13]:
df_movie_rating.applymap(movie_grade)

       movie1 movie2
Tom         A      B
JEff        B      A
Peter       C      F
Ram         C      C
Atul        F      B
Sachin      F      F